<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown" *ngIf="checkIfLogin()==true" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add
            </a>
            <ul class="dropdown-menu"  aria-labelledby="navbarDropdown">
              
              <li><a class="dropdown-item" routerLink="brands/add">Add Brand</a></li>
              <li><a class="dropdown-item" routerLink="colors/add" >Add Color</a></li>
              <li><a class="dropdown-item" routerLink="cars/add" >Add Car</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="checkIfLogin()==true">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Update
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              
              <li><a class="dropdown-item" routerLink="brands/update">Update Brand</a></li>
              <li><a class="dropdown-item" routerLink="colors/update" >Update Color</a></li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="checkIfLogin()==false">
            <a class="nav-link" routerLink="/login" >Login</a>
          </li>
          <li class="nav-item" *ngIf="checkIfLogin()==false">
            <a class="nav-link"  routerLink="/register">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        
        <div class="dropdown" *ngIf="checkIfLogin()==true" >
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{user?.firstName}} {{user?.lastName}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><a class="dropdown-item" routerLink="" (click)="logOut()">LogOut</a></li>
          </ul>
        </div>
        
      
      </div>
    </div>
  </nav>