<div class="row">
  <div class="col-md-7">
    <div id="carImageSlide" class="carousel slide" data-bs-ride="carousel">
      <div
        class="carousel-inner d-flex"
        style="height: 50vh; min-height: 20rem; max-height: 30rem"
      >
        <div
          *ngFor="let photo of photos; index as i; first as firstImage"
          class="carousel-item align-self-center"
          [ngClass]="{ active: firstImage }"
          style="height: 100%; width: 100%"
        >
          <img
            [src]="imageUrl + photo.imagePath"
            class=""
            style="height: 100%; width: 100%; object-fit: contain"
            [alt]="photo.imagePath"
          />
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carImageSlide"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carImageSlide"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div *ngFor="let car of carDetail" class="card">
      <app-rental [car]="car"></app-rental>
      <div class="card-header">Properties</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Brand : {{ car.brandName }}</li>
            <li class="list-group-item">Color : {{ car.colorName }}</li>
            <li class="list-group-item">
              Daily Price : {{ car.dailyPrice | currency }}
            </li>
            <li class="list-group-item">Description : {{ car.description }}</li>
            <li class="list-group-item">
              Findex Point : {{ car.findexPoint }}
            </li>
            <button
              type="button"
              [class]="getRentalButtonClass()"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              Rental {{ (message) }}
            </button>
            <br />

            <button *ngIf="isCustomer==false"
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Be Customer
            </button>
            <app-customer></app-customer>
          </ul>
        </blockquote>
      </div>
    </div>
  </div>
</div>
