<!-- <div *ngIf="dataLoad==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoad==true" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Brand Name</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Rent Date</th>
        <th scope="col">Return Date</th>
      </tr>
    </thead>
    <tbody *ngFor="let rental of rentals">
      <tr>
        <td>{{rental.rentalId}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.customerName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
      </tr>
    </tbody>
  </table>
 -->
<!-- Vertically centered modal -->


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Rental Page</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Car Id: <input type="text" class="form-control" [value]="car.carId" disabled>
          Brand: <input type="text" class="form-control" [value]="car.brandName" disabled>
          Color: <input type="text" class="form-control" [value]="car.colorName" disabled>
          Daily Price: <input type="text" class="form-control" [value]="car.dailyPrice"  disabled>
          <label for="example-date-input"
              >Start Date</label
            >
            <div class="col-md-6">
              <input
                class="form-control"
                min="{{ getRentMinDate() }}"
                value="{{ getRentMinDate() }}"
                type="date"
                [(ngModel)]="rentStartDate"
              />
              
            </div>
            <label for="example-date-input" 
              >Finish Date</label>
            <div class="col-md-6">
              <input
                class="form-control"
                type="date"
                min="{{ getReturnMinDate() }}"
                value="{{ getReturnMinDate() }}"
                [(ngModel)]="rentFinishDate"
              />
            Total Price  <input *ngIf="rentFinishDate" type="text" class="form-control" [value]="calculatePrice() | currency" disabled>
        </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button data-bs-dismiss="modal" (click)="addRental()" type="button" class="btn btn-primary ">Rental</button>
        </div>
      </div>
    </div>
  </div>
