<div class="container">
  <app-navi></app-navi>
  <div class="row">
      <div class="col-md-3">
          <app-brand></app-brand>
          <br />
          <app-color></app-color>
      </div>
      <div class="col-md-9">
        <h5 class="p-3 mb-2 bg-danger text-white">Customers</h5>
        <app-customer></app-customer>
        <br>
        <br>
        <h5 class="p-3 mb-2 bg-danger text-white">Cars</h5>
        <app-car></app-car>
        <br>
        <br>
        <h5 class="p-3 mb-2 bg-danger text-white">Rentals</h5>
        <app-rental></app-rental>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>