<html>
  <head>
    <style>
      .header {
        height: 680px;
        width: 100%;
        background-image: url("assets/images/home.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="py-5 text-center">
        <div class="py-lg-6">
          <div class="col-lg-6 mx-auto">
            <h1 class="fw-light">Rent A Car Project</h1>
            <h3>Welcome to rent a car project</h3>
            <p>
              <a
                href="https://github.com/mert-akkaya"
                class="btn btn-secondary my-2"
                >Github
                <img
                  width="100px"
                  src="assets/images/github.jpg"
                  alt="null" 
                  /></a>
              <br>
              <br>
            </p>
          <button type="button" class="btn mb-2 mb-md-0 btn-outline-dark" routerLink="/cars"><a class="animated-btn text-white" ><i-bs name="arrow-right-circle-fill"
            class="text-danger"
            width="2rem"
            height="2rem"></i-bs></a><span> <strong> See Cars</strong></span></button> 
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
