<div class="container">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h5 class="title">Color Add</h5></div>
        <div class="card-body">
          <form [formGroup]="colorAddForm"> 
            <div class="mb-3">
              <label for="brandName">Color Name</label>
              <div class="form-group">
                <input
                  type="text"
                  id="colorName"
                  formControlName="colorName"
                  class="form-control"
                  placeholder="Color name"
                />
                <div *ngIf="errorMessages">
                    <label class="text-danger"  *ngFor="let errorMessage of errorMessages">{{errorMessage}}<br/></label>
                </div>
                
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button style="float:right;" class="btn btn-fill btn-success" (click)="add()" >Add</button>
        </div>
      </div>
    </div>
  </div>