<div class="col-md-8">
  <div class="card">
    <h6 class="card-header text-center">Profile Settings</h6>
    <div class="card-body p-0">
      <ul class="list-group list-group-flush" style="cursor: pointer">
        <li appColor class="list-group-item" routerLink="/profile/info">
          Profile Info
        </li>
        <li appColor class="list-group-item" routerLink="/profile/company">Company Info</li>
        <li appColor class="list-group-item" routerLink="/profile/password">Change Passoword</li>
        <li appColor class="list-group-item" routerLink="/profile/my-carts">Kayıtlı Kartlarım</li>
        <li appColor class="list-group-item" routerLink="/profile/findex">Findeks Point</li>
      </ul>
    </div>
  </div>
</div>
