<!-- <div *ngIf="dataLoad==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoad==true" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">User Id</th>
        <th scope="col">Company Name</th>
      </tr>
    </thead>
    <tbody *ngFor="let customer of customers">
      <tr>
        <td>{{customer.id}}</td>
        <td>{{customer.userId}}</td>
        <td>{{customer.companyName}}</td>
      </tr>
    </tbody>
  </table> -->
    
    <!-- Modal -->
    <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Customer Page
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <form [formGroup]="customerAddForm">
              <div class="mb-3">
                <label for="companyName">Company Name</label>
                <div class="form-group">
                  <input
                    type="text"
                    id="companyName"
                    formControlName="companyName"
                    class="form-control"
                    placeholder="Company Name"
                  />
                </div>
              </div>
            </form>
            
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" (click)="addCustomer()" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
